@use './variables' as v;
@use './mixins';

.container_background{
    background-image: url(#{v.$bg-pc});
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    
    @media (max-width: 959px) {
        background-image: url(#{v.$bg-mobile});
    }
}

.container_block{
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
    @media (max-width: 959px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}