@use './mixins';

.summery_skills_title{
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 16px 0px;
}

.summery_container{
    font-size: 16px;
    color: black;
    text-align: justify;
    line-height: 40px;
}

.summery_block{
    height: 35%;
    display: grid;
    justify-content: start;
    align-items: center;

    @include mixins.pc {
        height: auto;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    @include mixins.ipad {
        margin: 16px 0px;
        padding: 0px 32px;
        height: auto;
    }
}

.summery_skills_block{
    width: 60%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media (max-width: 959px) {
        height: auto;
    }

    @include mixins.pc {
        width: 85.5%;
    }

    @include mixins.ipad {
        width: 100%;
        padding: 0px 32px;
    }
}