@use './mixins';

.summery_skills_title{
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 16px 0px;
}

.summery_container{
    font-size: 16px;
    color: black;
    text-align: justify;
    line-height: 40px;
}

.summery_block{
    height: 35%;
    display: grid;
    justify-content: start;
    align-items: center;
}

.summery_skills_block{
    width: 60%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}