@use './mixins';

.user_image{
    margin: 0 auto;
    margin-bottom: 32px;
    width: 50%;

    @include mixins.pc {
        width: 45%;
        margin-bottom: 0px;
    }

    @include mixins.ipad {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.name_block{
    display: grid;
    justify-content: start;
    align-items: center;

    @include mixins.pc {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    @include mixins.ipad {
        height: auto;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
    }
}

.name_text{
    font-size: 48px;
    font-weight: 600;

    @media (max-width: 959px) {
        font-size: 64px;
        margin: 0px 0px;
    }

    @include mixins.ipad {
        font-size: 52px;
        text-align: center;
    }
}

.not_pc_block{
    display: none;
    
    @media (max-width: 959px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 42px;
    }

    @include mixins.ipad {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: auto;
    }
}